<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    </head>
    <body class="body">
        <div class="menu-panel">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Procedure</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <a  class="btn btn-danger" href="#">Order</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-320">
            <div class="header">
                <header class="header-text">
                    <h1>Профессиональное наращивание ресниц</h1>
                    <p>Стань обладательницей *** *** взгляда</p> {# завораживающего, пленяющего, покоряющего, рокового, неотразимого #}
                </header>
            </div>
        </div>
        <div class="wrapper">
            <div class="skeleton container text-center">
                <h3 class="section-header">О нас</h3>
                <div class="row" style="width: 100%;">
                    <div class="col-md-4">
                        <img class="about-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                        <p class="title">Опытный мастер</p>
                        <p class="desc">
                            Процедура наращивания ресниц производится сертифицированным мастером с опытом работы более двух лет.
                            Квалификация мастера (...).
                            Мастер находит индивидуальный подход к клиенту, консультирует по любым вопросам до/после процедуры.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="about-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                        <p class="title">Header Important Very</p>
                        <p class="desc">
                            lol
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="about-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                        <p class="title">Материалы премиум качества</p>
                        <p class="desc">
                            При наращивании ресниц используются только премиум материалы, что дает гарантию высокого качества работы:
                            <ul>
                                <li>объемные и эффектные ресницы</li>
                                <li>результат держится 3-4 недели</li>
                                <li>без повреджения натуральных ресниц</li>
                            </ul>
                        </p>
                    </div>
                </div> <!-- row -->
            </div> <!-- skeleton  -->
        </div> <!-- wrapper -->
        <div class="color-wrapper">
            <div class="skeleton container">
                <h3 align="center" class="section-header">Виды наращивания и цены</h3>
                <div class="row table-row">
                    <div class="col-md-2 text-center col-md-offset-1 vcenter">
                        <img class="eye-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                    </div>
                    <div class="col-md-4 text-center vcenter">
                        <h2>Классическое наращивание</h2>
                        <p>
                            Классическое наращивание ресниц подразумевает приклеивание к каждой родной реснице одной искусственной.
                            Чтобы желаемый эффект утолщения и удлинения сохранялся максимально долго, процедура должна выполняться
                            технически правильно и с использованием высококачественных материалов.
                        </p>
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        60 min
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        300 grn
                    </div>
                </div>
                <div class="row table-row">
                    <div class="col-md-2 text-center col-md-offset-1 vcenter">
                        <img class="eye-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                    </div>
                    <div class="col-md-4 text-center vcenter">
                        <h2>2D наращивание</h2>
                        <p>
                            Эффект двойного наращивания ресниц достигается за счет приклеивания на
                            каждую родную ресницу по две собранные «пучком» искусственные.
                            Со временем искусственные ресницы начнут отклеиваться, но при двойном эффекте это будет менее заметно.
                        </p>
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        60 min
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        300 grn
                    </div>
                </div>
                <div class="row table-row">
                    <div class="col-md-2 text-center col-md-offset-1 vcenter">
                        <img class="eye-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                    </div>
                    <div class="col-md-4 text-center vcenter">
                        <h2>3D наращивание</h2>
                        <p>
                            Объемная техника наращивания с эффектом 3D – это тройная густота, пышность и глубина цвета ваших ресниц.
                            При этом способе наращивания на каждую натуральную прикрепляются по три искусственные ресницы, собранные в пучок особой техникой.
                        </p>
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        60 min
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        300 grn
                    </div>
                </div>
                <div class="row table-row">
                    <div class="col-md-2 text-center col-md-offset-1 vcenter">
                        <img class="eye-image img-circle" src="{{ asset('/img/round.png') }}" alt="...">
                    </div>
                    <div class="col-md-4 text-center vcenter">
                        <h2>Голливуд наращивание</h2>
                        <p>
                            Голливудский объем наращивания позволяет добиться максимального эффекта от наращивания не
                            нанося никакого вреда натуральным ресницам и не создавая тяжести или дискомфорта для глаз.
                            Невесомые ультрамягкие ресницы обеспечат эффект Smoky eyes и сделают ваш роскошный взгляд настоящей изюминкой облика.
                        </p>
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        60 min
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        300 grn
                    </div>
                </div>
                {# Типы наращивания, время, цены #}
            </div>  <!-- skeleton  -->
        </div>  <!-- wrapper -->
        <div class="wrapper">
            <div class="skeleton container  text-center">
                <h3  align="center" class="section-header">Examples</h3>
                <div id="carousel-example-generic" class="carousel slide examples" data-ride="carousel">
                    <!-- Показатели -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Обертка для слайдов -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-fluid" style="width: 100%" src="{{ asset('img/test.png') }}" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img class="img-fluid" style="width: 100%" src="{{ asset('img/test.png') }}" alt="...">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- skeleton  -->
        </div>  <!-- wrapper -->
        <div class="color-wrapper">
            <div class="skeleton container">
                <h3  align="center" class="section-header">Контакты</h3>
                {# Контакты #}
                <div class="row" style="width: 100%;">
                    <div class="col-md-4 text-center col-md-offset-2 col-sm-8 col-xs-12 col-sm-offset-0">
                        Для записи на процедуру или бесплатную консультацию заполните данную форму. Мастер свяжется с Вами, ответит на все интересующие вопросы и назначит удобное Вам время процедуры.
                        <form class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Имя">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Телефон">
                            </div>
                            <button id="sendButton" class="btn btn-danger">Записаться</button>
                        </form>
                    </div>
                    <div class="col-md-4 col-md-offset-1 col-xs-12">
                        <table>
                            <tr style="height: 50px">
                                <td width="50px"><img class="icon" src="{{ asset('img/instagram_icon.png') }}" alt="..."></td>
                                <td>@instagram</td>
                            </tr>
                            <tr style="height: 50px">
                                <td><img class="icon" src="{{ asset('img/viber_icon.png') }}" alt="..."></td>
                                <td>+380995554433</td>
                            </tr>
                            <tr style="height: 70px">
                                <td><img class="icon" src="{{ asset('img/location_icon.png') }}" alt="..."></td>
                                <td>
                                    <p>м. Левобережная</p>
                                    <a class="alert-link" href="https://goo.gl/maps/Y9J5UuaNQP52" target="_blank">Показать на карте</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>  <!-- skeleton  -->
        </div>  <!-- wrapper -->
        <div class="wrapper">
            <div class="skeleton container">
                {# Футер #}
            </div>  <!-- skeleton  -->
        </div>  <!-- wrapper -->
        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
